.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
